:root{
    /* màu chủ đạo */
    --primary-1: #4C2CBF;
    --primary-2: #9B9109;
    --primary-3: #F0F0F2;
    --primary-4: #6B8DF2;
    --primary-5: #94C6F2;
}
/* container */
hr{
    padding: 0;
    height: 4px;
    background-color: #cdcdcd;
    width: 50%;
    margin: 0 auto;
}
#content{
    background-color: var(--primary-4);
}
/* item */
.topMusicItem .itemTitle{
    width: 85%;
    font-size: 14px;
    color: var(--primary-3);
    text-align: left;
}
.topMusicTitle{
    font-weight: 600;
    font-size: 18px;
    color: var(--primary-3);
}
.itemContainer{
    display: block;
    max-height: 182px;
    max-width: 182px;
    background-color: #9B9109;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

/* .itemContainer:hover {
    cursor: pointer;
} */
.itemContainer .item {
    line-height: 0;
    height: 0;
    padding-bottom: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.item img{
    height: 182px;
    width: 182px;  
    transition: transform .7s; 
}
.itemContainer:hover img {
    transform: scale(1.1) translateZ(0);
}

.opacity{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.btnTool{
    line-height: 0;
    font-size: 20px;
    box-shadow: none;
    background-color: transparent;
    color: var(--primary-3);
    z-index: 3;
}
.btnTool:hover{
    box-shadow: none;
}
.actionContainer{
  position: absolute;
  top: 40%;
  display: flex;
}
.hide{display: none;}

.itemContainer:hover  .hide {
    display: block;
  }
/*albumImg  */
.albumContainerLeft{
    color: var(--primary-3);
}
.albumContainerLeft button{
    color: var(--primary-3);
}
.albumContainerLeft button:hover{
    color: var(--primary-3);
    opacity: 0.7;
    box-shadow: none;
}
.albumImg{
    width: 100%;

    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 40px auto;
}
.albumImg img{
    animation: xoayvong 10s linear 0s infinite;
    -webkit-animation: xoayvong 10s linear 0s infinite;
    -moz-animation: xoayvong 10s linear 0s infinite;
    -o-animation: xoayvong 10s linear 0s infinite; 
}
.albumDetail{
    font-size: 12px;
}
@-webkit-keyframes xoayvong{
    from{
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}
/* Standard syntax */ 
@keyframes xoayvong {
    from{
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}


#addnewsong_box{
    cursor: text;
    margin-right: 10px;
    height: 30px;
}
.addPlaylistIcon{
    font-size: 30px;
    margin-top: 35%
}


/* playlist */
 .audioContainer{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
.audioContainer audio{
    width: 90%;
    height: 40px;
}
.current-song {
    background-color: #B796FF;
    border-radius: 10px;
    color: #E6DE70;
}
.current-song h6{
    color: #E6DE70;
}

#album_1{
    padding: 10px 0 0 40px;
    margin-top: -20px;
}
.listSong{
    width: 100%;
    padding: 10px; 
    margin-bottom: 1rem;
    color: var(--primary-3);
    font-size: 20px;
    list-style-position: inside;
}
.list_Item{
    border-bottom: 1px solid #cdcdcd;
    height: 50px;
    padding-top: 10px;
}
.listItem--title{
    width: 50%;
    display: inline-block;   
    color: var(--primary-3);
    font-size: 20px;
 }

.Time{width: 2%;
    color: var(--primary-3);
    font-size: 20px;
    margin-right: 20px;
}

.listTool{
    width: 38%;
    display: inline;
    color: var(--primary-3);
}

.listTool a i{
    color: var(--primary-3);
    margin-left: 10px;
}


/* thêm bài hát */
.addSong {
    color: var(--primary-3);
    font-size: 20px;
}
.addNewSong{
    margin-left: auto;
}
.addNewSong #addnewsong_box{
    border-radius: 20px;
    outline: none;
    padding: 5px 14px;
    border: 1px solid #cdcdcd;
}
#btn_add{
    border-radius: 8px;
    min-width: 45px;
    /* height: 30px; */
}

#remove_song{
    margin-left: 20px;
}

.class_hide{
    visibility: hidden;
}

/* gallery  left*/
    /* log out */
.galleryLeft{
    color: var(--primary-3);

}

.userProflie img{
    border-radius: 50%;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
}
.userProflie h4{
    color: var(--primary-3);
}
    /* nav */
.galleryLeft-content-nav {
    list-style-type: none;
    border: 1px solid #cdcdcd;
    border-radius: 20px;
    display: inline-block;

    color: var(--primary-3);
}
.user_nav_active{
    background-color: #B796FF;
    font-weight: 600;
    color: #E6DE70;
}
.galleryLeft-content-nav li{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
}
/* gallery  right*/

.galleryRight{
    border-left: 1px solid #cdcdcd;
    margin-bottom: 1rem;
}
.listContainerUserHeader{
    align-items: center;
    padding: 10px 40px;
}

.listContainerUserBtn i{
    margin-right: 20px;
   
}
.listContainerUserBtn label{
    margin: 0;
    height: 100%;
}
/* dashbord */
#pieChart{
display: block; 
width: 540px!important; 
height: 300px!important; 
margin-top: 20px;
}
/* nút xóa */
.actionRemoveContain{
    text-align: right;
}
#actionRemove{
    border-radius: 8px;
    width: 45px;
    margin-top: 10px;
}
/* nút tải lên */
input[type="file"] {
    display: none;
}
.custom-file-upload {
    
    display: inline-block;

    cursor: pointer;
}
.actionUpload{
    height: 30px;
    border-radius: 8px;
}
/* Phần này là Phong CSS */
/* chỉnh sửa avt */
.avtUser
  {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block; margin-left: auto; margin-right: auto;
    margin-top: 20px;
    border: solid 2px white;
  }
  /*CSS cho User name*/
  .userName
  {
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    color: #fff;
  }
  /*CSS cho thanh sidebar*/
  hr.rounded {
    border-top: 8px solid #fff;
    border-radius: 5px;
  }

  /* fillter */
body {  
    overflow-x: hidden;
    height: 100%;
    background-repeat: no-repeat
}

input {
    padding: 4px 10px 4px 10px;
    border-radius: 0px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #CFD8DC;
    color: #000;
    cursor: pointer;
    letter-spacing: 1px
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.bg-white {
    background-color: #fff
}

.hotel,
.arrival,
.box {
    border: 1px solid #CFD8DC;
    color: #9E9E9E;
    cursor: pointer
}

.hotel.active,
.arrival.active {
    background-color: #304FFE;
    color: #fff !important;
    border: 1px solid #304FFE
}

.fa-star {
    color: #E0E0E0;
    cursor: pointer
}

.fa-star.active {
    color: #FFB300
}

.icon-star {
    color: #000
}

#green {
    color: #388E3C;
    background-color: #C8E6C9;
    padding: 5px 9px;
    cursor: pointer
}

#blue {
    background-color: #BBDEFB;
    color: #1976D2;
    padding: 5px 12px;
    cursor: pointer
}
.form-control{
    cursor: text;
}

.categoryItem{
    display: inline;
    font-size: 16px;
}
.categoryContain{
    position: absolute;   
}
#categoryContain-1{
    min-width: 42rem!important;
}
#categoryContain-2{
    min-width: 29.5rem!important;
}
.fillterflowCategory{
    margin: 20px 0;
 
}
.fillter-3{
    display: flex;
}
/* filler */

/* responsiv  playlist*/
@media only screen and (max-width: 994px) {
    .albumImg {
      width: 320px;
      height: 320px;
    }
    #album{
        margin-top: 40px;
    }
    .galleryRight img{
        display: none;
    }
   
  }

  @media only screen and (min-width: 1270px) {
    .albumImg {
        width: 320px;
        height: 320px;
      }
  }

  @media only screen and (max-width: 1100px) {
    .actionContainer {
        visibility: hidden;
    }
   
  }
  @media only screen and (max-width: 815px) {
    .custom-file-upload span,.listContainerUserBtn span{
        display: none;
    }
    .custom-file-upload i,.listContainerUserBtn i{
        margin: 0;
    }
    .listContainerUserHeader {
        justify-content: space-between;
    }
  }
  @media only screen and (max-width: 425px) {
    .listTool a:nth-child(2),.listTool a:nth-child(3),.topMusicItem .itemTitle{
        display: none;
    }
    .topMusicItem{
        margin-bottom: 20px;
    }
  }
  @media only screen and (max-width: 1200px) {
    .galleryRight img{ display: none;}
  }
